
html {
  font-size: 100%;
}

body {
  color: #000000;
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
  font-size: 1.3rem;
}

h1, h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

div {
  font-size: 0;
}

.wraper {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  max-width: 960px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3% 3%;
}

header h1 {
  border: 1px solid #000000;
  padding: 0.25rem 0.7rem;
}

header ul {
  display: flex;
}

nav a {
  font-size: 2rem;
  transition: all 0.3s;
}

nav a:visited {
  color: #000;
}

nav a:hover {
  color: #000;
  opacity: 0.5;
}

nav a:active {
  color: #000;
}

nav a:link {
  color: #000;
}

nav ul li {
  padding: 0.25rem 0.7rem;
}

/* MainVisial */
#main-visual {
  text-align: center;
}

#main-visual > img {
  max-width: 1080px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* About */
#about  > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


#about > div > img {
  border-radius: 140px;
  width: 140px;
  height: 140px;
}  

#profile-parag {
  margin-left: 20px;
}

#profile-parag ul li {
  list-style: inside;
  margin: 10px 0;
}
.section-h2 {
  text-align: center;
  margin: 30px auto;
}
  
/* Works */
#works > div {
  display: flex;
  justify-content :space-between;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

.works-con {
  flex-basis: 32%;
}

.works-con > p {
  padding: 20px;
}

footer{
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 0;
}

